<!DOCTYPE HTML>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>Simple-API-Nodejs</title>
    <style>
        div {
            margin: 10px 0px;
            padding: 10px;
            border: 1px solid #333;
            max-width: 500px;
        }
    </style>
</head>

<body>
    <h1>Hello World!</h1>
    <div id="get">
        <button id="get_career">GET</button>
        <p>LIST</p>
        <div id="get_list"></div>
    </div>

    <div id="post">
        <input type="text" name="title" placeholder="CAREER TITLE" />
        <input type="text" name="description" placeholder="CAREER DESCRIPTION" />
        <button id="post_carer">POST</button>
    </div>

    <div id="del">
        <input type="text" name="career_id" placeholder="CAREER ID" />
        <button id="del_career">DELETE</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        'use strict';

        var get = function () {
            var cntOfData = 0;

            // 내용 초기화
            document.getElementById('get_list').innerHTML = '';

            // jQuery Request/Response
            $.ajax({
                url: '/career',
                type: 'GET',
                contentType: 'application/json; charset=UTF-8',
                success: function (resData) {
                    console.log(resData);

                    cntOfData = resData.length;

                    for (var i = 0; i < cntOfData; i++) {
                        $('div#get > div').append('<p>[' + resData[i].id + '] ' + resData[i].title +
                            ' / ' +
                            resData[i].description +
                            '</p>');
                    }
                }
            });

            // Vanilla JavaScript
        };

        var post = function () {
            var reqData = {
                'title': document.getElementsByName('title')[0].value,
                'description': document.getElementsByName('description')[0].value,
            };

            console.log('reqData - ' + JSON.stringify(reqData));

            // jQuery Request/Response
            $.ajax({
                url: '/career',
                type: 'POST',
                contentType: 'application/json; charset=UTF-8',
                data: JSON.stringify(reqData),
                success: function (resData) {
                    console.log('resData - ' + JSON.stringify(resData));

                    resData.result === 'Y' ? alert("Success !") : alert("Fail !");
                    get();
                }
            });

            // Vanilla JavaScript
        };

        var del = function () {
            var reqData = {
                'id': document.getElementsByName('career_id')[0].value,
            };

            console.log('reqData - ' + JSON.stringify(reqData));

            // jQuery Request/Response
            $.ajax({
                url: '/career',
                type: 'DELETE',
                contentType: 'application/json; charset=UTF-8',
                data: JSON.stringify(reqData),
                success: function (resData) {
                    console.log('resData - ' + JSON.stringify(resData));

                    get();
                }
            });

            // Vanilla JavaScript
        };

        window.onload = function () {
            get();

            document.getElementById('get_career').addEventListener('click', function () {
                get();
            });

            document.getElementById('post_carer').addEventListener('click', function () {
                post();
            });

            document.getElementById('del_career').addEventListener('click', function () {
                del();
            });
        };
    </script>
</body>

</html>
